 
<launch>
  <!-- 
  NOTE: You'll need to bring up something that publishes sensor data (see
  rosstage), something that publishes a map (see map_server), and something to
  visualize a costmap (see nav_view), to see things work.
  Also, on a real robot, you'd want to set the "use_sim_time" parameter to false, or just not set it.
  -->

  <!--False for "six_wheel" or True for "four_wheel"  -->
  <arg name="is_four_wd" default="true"  />

  <!-- True if running simulation, not the real car -->
  <arg name="is_simulation" default="true" />

  <!-- Use ROS_control on simulation -->
  <arg name="use_ros_control" default="true" />

  <!-- Select Odometry to Enable -->
  <arg name="wheel_odometry" default="false"  />
  <arg name="imu_odometry" default="false"  />
  <arg name="laser_scanner_odometry" default="false"  />

<!-- Odometry, Static Transforms -->
  <include file="$(find odometry_agent)/launch/odometry_agent.launch">
    <arg name="is_simulation" value="$(arg is_simulation)" />
    <arg name="is_four_wd" value="$(arg is_four_wd)" />
  </include>
  
  <!-- Publish Tranforms -->
  <include file="$(find bear_car_launch)/launch/transforms/transforms.launch">
    <arg name="is_simulation" value="$(arg is_simulation)" />
    <arg name="is_four_wd" value="$(arg is_four_wd)" />
  </include>

<!-- Launch Twist to Steerforce converter -->
  <group if="$(arg is_four_wd)">
    <group if="$(arg is_simulation)">
      <include file="$(find steerforce_conv)/launch/steerforce_converter.launch"/>
        <param name="use_ros_control" value="$(arg use_ros_control)"  />
    </group>
  </group>



<!-- Load SLAMs or Static Map -->
  
  <!-- Hector SLAM -->
<!--       <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom"
    args="0.0 0.0 0.0 0.0 0.0 0.0 /map /odom"/>
 --><!--     <include file="$(find bear_car_launch)/launch/hector_slam/hector_configuration.launch">
        <arg name="scan_topic_name" value="scan"/>
    </include> -->

  <!-- Cartographer SLAM  -->
    <include file="$(find bear_car_launch)/launch/cartographer_slam/cartographer_start.launch" />  
  
  <!-- Use Static Map -->
<!--       <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom"
    args="0.0 0.0 0.0 0.0 0.0 0.0 /map /odom"/>
    <arg name="map_file" value="$(find bear_car_launch)/static_maps/track_no_obs.yaml" /> 
    <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)" />
 -->
<!-- Load move_base or locomotor -->
  <!-- <param name="/use_sim_time" value="false"/> -->

  <include file="$(find bear_car_launch)/launch/move_base/move_base_start.launch" />  
  <!-- <include file="$(find bear_car_launch)/launch/locomotor/locomotor_start.launch" /> -->


  <!-- multigoal loading -->
   <!-- <include file="$(find multi_goal)/launch/multi_goal.launch" />  -->
    
</launch>

