     
<launch>  
        <node pkg="multi_goal" type="multi_goals.py" respawn="false" name="multi_goal" output="screen">
        <!-- params for move_base -->
        <param name="goalListX" value="[3.0,-5.0, 2]" />
        <param name="goalListY" value="[7.5, 4.0, 0]" />
        <param name="map_frame" value="map" />
        </node>

 </launch>  
