[submodule "src/conde"]
	path = src/conde
	url = https://github.com/ee09115/conde_simulator.git
[submodule "src/C++LaneTracker"]
	path = src/C++LaneTracker
	url = git@github.com:MichiMaestre/Lane-Detection-for-Autonomous-Cars.git
[submodule "src/vesc"]
	path = src/vesc
	url = git@github.com:erwincoumans/vesc.git
[submodule "src/rplidar_ros"]
	path = src/rplidar_ros
	url = git@github.com:Slamtec/rplidar_ros.git
