<?xml version='1.0'?>

<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  
  <!--<include file="$(find racecar_simulator)/launch/simulate.launch"/>-->
  

  <node name="serial_comm" pkg="rosserial_python" type="serial_node.py">
    <param name="port" value="/dev/ttyUSB_remote"/>
    <param name="baud" value="115200"/>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="laser_link_broadcaster" args="0 0 0 0 0 0 1 base_link base_laser_link 1000" />
  <node pkg="tf" type="static_transform_publisher" name="odom_broadcaster" args="0 0 0 0 0 0 1 base_link odom 1000" />
  <node pkg="tf" type="static_transform_publisher" name="imu_broadcaster" args="0 0 0 0 0 0 1 base_link imu 1000" />

  <node name="driver" pkg="ackermann_rc" type="ackermann_to_morse" output="screen" required="true">
    <rosparam file="$(find ackermann_rc)/param/rc_params_simulator.yaml" command="load"/>
  </node>  
  
</launch>