
<launch>
 


  <include file="$(find low_level_speed_controller)/launch/six_wd.launch"/>

  

  <node pkg="low_level_steering_controller" name="steer_controller" type="six_wheel_low_level_steering_controller" required="true" output="screen">

  </node>


  <node pkg="serial_6w" name="motor_controller" type="serial_communicator_6w" required="true" output="screen">

  </node>


</launch>





    

    

